.resume {
    padding: 2rem;
    text-align: center;
  }
  
  .resume h2,
  .resume h3 {
    color: #333;
  }
  
  .download-resume {
    display: inline-block;
    padding: 0.5rem 1rem;
    background-color: #ff6200;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    margin-bottom: 1rem;
    box-shadow: 4px 4px 3px #ffffff;
  }
  
  .download-resume:hover {
    background-color: #0056b3;
  }
  
  .resume ul {
    list-style-type: none;
    padding: 0;
    margin: 1rem 0;
  }
  
  .resume ul li {
    font-size: 1.4rem;
    line-height: 1.6;
    color: #e63946; /* Bold red */
    text-shadow: 2px 2px 0px #f4a261; /* Orange shadow */
  }